**复习：**在前面我们已经学习了Pandas基础，第二章我们开始进入数据分析的业务部分，在第二章第一节的内容中，我们学习了**数据的清洗**，这一部分十分重要，只有数据变得相对干净，我们之后对数据的分析才可以更有力。而这一节，我们要做的是数据重构，数据重构依旧属于数据理解（准备）的范围。

#### 开始之前，导入numpy、pandas包和数据

In [1]:
# 导入基本库
import numpy as np
import pandas as pd

In [2]:
# 载入上一个任务人保存的文件中:result.csv，并查看这个文件
data = pd.read_csv("result.csv")
data.head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

# 2 第二章：数据重构

## 第一部分：数据聚合与运算

### 2.6 数据运用

#### 2.6.1 任务一：通过教材《Python for Data Analysis》P303、Google or anything来学习了解GroupBy机制

In [5]:
#写入心得

#### 2.4.2：任务二：计算泰坦尼克号男性与女性的平均票价

In [9]:
# 写入代码
for key, value in data.groupby("Sex").groups.items():
    print(key + "'s mean fare is : " + str(data.iloc[value]["Fare"].mean()))

female's mean fare is : 44.47981783439491
male's mean fare is : 25.523893414211443

在了解GroupBy机制之后，运用这个机制完成一系列的操作，来达到我们的目的。

下面通过几个任务来熟悉GroupBy机制。

#### 2.4.3：任务三：统计泰坦尼克号中男女的存活人数

In [14]:
# 写入代码
for key, value in data.groupby("Sex").groups.items():
    print(key + "'s count is : " + str(value.shape[0]))

female's count is : 314
male's count is : 577

#### 2.4.4：任务四：计算客舱不同等级的存活人数

In [22]:
# 写入代码
for key, value in data[data["Survived"] == 1].groupby("Pclass").groups.items():
    print(str(key) + "'s suvived is : " + str(value.shape[0]))

1's suvived is : 136
2's suvived is : 87
3's suvived is : 119

【**提示：**】表中的存活那一栏，可以发现如果还活着记为1，死亡记为0

【**思考**】从数据分析的角度，上面的统计结果可以得出那些结论

就结果而言，更好的舱位存活率越高

In [36]:
for key, value in data.groupby("Pclass").groups.items():
    # print(value[data.iloc[value]["Survived"] == 1])
    survived = value[data.iloc[value]["Survived"] == 1].shape[0]
    unsurvived = value[data.iloc[value]["Survived"] == 0].shape[0]
    print(str(key) + "'s suvived/un is : " + str(survived) + " / " + str(unsurvived))

1's suvived/un is : 136 / 80
2's suvived/un is : 87 / 97
3's suvived/un is : 119 / 372

#思考心得 

舱位与存活率正相关

【思考】从任务二到任务三中，这些运算可以通过agg()函数来同时计算。并且可以使用rename函数修改列名。你可以按照提示写出这个过程吗？

In [39]:
#思考心得
data.groupby("Sex").agg({"Fare": "mean"})

             Fare
Sex
female  44.479818
male    25.523893

In [40]:
data.groupby("Pclass").agg({"Pclass":"sum"})

        Pclass
Pclass
1          216
2          368
3         1473

#### 2.4.5：任务五：统计在不同等级的票中的不同年龄的船票花费的平均值

In [41]:
# 写入代码
data.groupby("Pclass").agg({"Fare": "mean"})

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550

#### 2.4.6：任务六：将任务二和任务三的数据合并，并保存到sex_fare_survived.csv

In [42]:
# 写入代码
temp_df = data.groupby("Sex").agg({"Fare": "mean", "Survived": "sum"})

In [44]:
temp_df.to_csv("sex_fare_survived.csv")

#### 2.4.7：任务七：得出不同年龄的总的存活人数，然后找出存活人数最多的年龄段，最后计算存活人数最高的存活率（存活人数/总人数）

In [55]:
temp_age_range = data

In [56]:
# 写入代码
temp_age_range["age_range"] = pd.cut(data["Age"], bins=[0,20,40,60,80,100], labels=["0-20", "20-40", "40-60", "60-80","80-100"])

In [59]:
temp_age_range

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_range
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,20-40
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,20-40
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,20-40
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,20-40
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,20-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,447,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,20-40
887,448,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0-20
888,449,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,450,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,20-40
890,451,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,20-40

In [63]:
# 写入代码
temp_age_range.groupby("age_range").groups

AttributeError: 'PrettyDict' object has no attribute 'sum'

In [2]:
# 写入代码

In [2]:
# 写入代码