**复习：**在前面我们已经学习了Pandas基础，第二章我们开始进入数据分析的业务部分，在第二章第一节的内容中，我们学习了**数据的清洗**，这一部分十分重要，只有数据变得相对干净，我们之后对数据的分析才可以更有力。而这一节，我们要做的是数据重构，数据重构依旧属于数据理解（准备）的范围。

#### 开始之前，导入numpy、pandas包和数据

In [1]:
# 导入基本库
import pandas as pd
import numpy as np

In [2]:
# 载入data文件中的:train-left-up.csv
data = pd.read_csv("data/train-left-up.csv")

# 2 第二章：数据重构

### 2.4 数据的合并

#### 2.4.1 任务一：将data文件夹里面的所有数据都载入，观察数据的之间的关系

In [3]:
#写入代码
data_left_down = pd.read_csv("data/train-left-down.csv")
data_left_up = pd.read_csv("data/train-left-up.csv")
data_right_down = pd.read_csv("data/train-right-down.csv")
data_right_up = pd.read_csv("data/train-right-up.csv")

In [13]:
#写入代码
data_left_up.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name'], dtype='object')

In [14]:
data_right_up.columns

Index(['Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype='object')

【提示】结合之前我们加载的train.csv数据，大致预测一下上面的数据是什么

#### 2.4.2：任务二：使用concat方法：将数据train-left-up.csv和train-right-up.csv横向合并为一张表，并保存这张表为result_up

In [5]:
#写入代码
result_up = pd.concat([data_left_up, data_right_up], axis=1)
result_up.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### 2.4.3 任务三：使用concat方法：将train-left-down和train-right-down横向合并为一张表，并保存这张表为result_down。然后将上边的result_up和result_down纵向合并为result。

In [6]:
#写入代码
result_down = pd.concat([data_left_down, data_right_down], axis=1)
result_down.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.50,NaN,S
1,441,1,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",female,45.0,1,1,F.C.C. 13529,26.25,NaN,S
2,442,0,3,"Hampe, Mr. Leon",male,20.0,0,0,345769,9.50,NaN,S

#### 2.4.4 任务四：使用DataFrame自带的方法join方法和append：完成任务二和任务三的任务

In [9]:
#写入代码
result_up = data_left_up.join(data_right_up, how="outer")
result_down = data_left_down.join(data_right_down, how="outer")
result = result_up.append(result_down)
result.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### 2.4.5 任务五：使用Panads的merge方法和DataFrame的append方法：完成任务二和任务三的任务

In [29]:
#写入代码
result_up = pd.merge(data_left_up, data_right_up, how="outer", left_index=True, right_index=True)
result_down = pd.merge(data_left_down, data_right_down, how="outer", left_index=True, right_index=True)
# result_down.head(3)
result = result_up.append(result_down)
result.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

【思考】对比merge、join以及concat的方法的不同以及相同。思考一下在任务四和任务五的情况下，为什么都要求使用DataFrame的append方法，如何只要求使用merge或者join可不可以完成任务四和任务五呢？

#### 2.4.6 任务六：完成的数据保存为result.csv

In [30]:
#写入代码
result.to_csv("result.csv")

### 2.5 换一种角度看数据

#### 2.5.1 任务一：将我们的数据变为Series类型的数据

In [31]:
#写入代码
test = result.stack()
test.head(20)

0  PassengerId                                                    1
   Survived                                                       0
   Pclass                                                         3
   Name                                     Braund, Mr. Owen Harris
   Sex                                                         male
   Age                                                         22.0
   SibSp                                                          1
   Parch                                                          0
   Ticket                                                 A/5 21171
   Fare                                                        7.25
   Embarked                                                       S
1  PassengerId                                                    2
   Survived                                                       1
   Pclass                                                         1
   Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
   Sex                                                       female
   Age                                                         38.0
   SibSp                                                          1
   Parch                                                          0
   Ticket                                                  PC 17599
dtype: object

In [39]:
#写入代码
test.loc[0]

PassengerId                                         1
Survived                                            0
Pclass                                              3
Name                          Braund, Mr. Owen Harris
Sex                                              male
Age                                              22.0
SibSp                                               1
Parch                                               0
Ticket                                      A/5 21171
Fare                                             7.25
Embarked                                            S
PassengerId                                       440
Survived                                            0
Pclass                                              2
Name           Kvillner, Mr. Johan Henrik Johannesson
Sex                                              male
Age                                              31.0
SibSp                                               0
Parch                                               0
Ticket                                     C.A. 18723
Fare                                             10.5
Embarked                                            S
dtype: object